src/META-INF/wsdl/localhost_8080/AIS_service/ShipService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.ais/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.ais/" name="ShipService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.ais/" schemaLocation="http://localhost:8080/AIS_service/ShipService?xsd=1"/>
</xsd:schema>
</types>
<message name="addShip">
<part name="parameters" element="tns:addShip"/>
</message>
<message name="addShipResponse">
<part name="parameters" element="tns:addShipResponse"/>
</message>
<message name="addHarbor">
<part name="parameters" element="tns:addHarbor"/>
</message>
<message name="addHarborResponse">
<part name="parameters" element="tns:addHarborResponse"/>
</message>
<message name="downloadShipByMmsi">
<part name="parameters" element="tns:downloadShipByMmsi"/>
</message>
<message name="downloadShipByMmsiResponse">
<part name="parameters" element="tns:downloadShipByMmsiResponse"/>
</message>
<message name="downloadHarborByName">
<part name="parameters" element="tns:downloadHarborByName"/>
</message>
<message name="downloadHarborByNameResponse">
<part name="parameters" element="tns:downloadHarborByNameResponse"/>
</message>
<message name="countPosition">
<part name="parameters" element="tns:countPosition"/>
</message>
<message name="countPositionResponse">
<part name="parameters" element="tns:countPositionResponse"/>
</message>
<portType name="ShipService">
<operation name="addShip">
<input wsam:Action="http://service.ais/ShipService/addShipRequest" message="tns:addShip"/>
<output wsam:Action="http://service.ais/ShipService/addShipResponse" message="tns:addShipResponse"/>
</operation>
<operation name="addHarbor">
<input wsam:Action="http://service.ais/ShipService/addHarborRequest" message="tns:addHarbor"/>
<output wsam:Action="http://service.ais/ShipService/addHarborResponse" message="tns:addHarborResponse"/>
</operation>
<operation name="downloadShipByMmsi">
<input wsam:Action="http://service.ais/ShipService/downloadShipByMmsiRequest" message="tns:downloadShipByMmsi"/>
<output wsam:Action="http://service.ais/ShipService/downloadShipByMmsiResponse" message="tns:downloadShipByMmsiResponse"/>
</operation>
<operation name="downloadHarborByName">
<input wsam:Action="http://service.ais/ShipService/downloadHarborByNameRequest" message="tns:downloadHarborByName"/>
<output wsam:Action="http://service.ais/ShipService/downloadHarborByNameResponse" message="tns:downloadHarborByNameResponse"/>
</operation>
<operation name="countPosition">
<input wsam:Action="http://service.ais/ShipService/countPositionRequest" message="tns:countPosition"/>
<output wsam:Action="http://service.ais/ShipService/countPositionResponse" message="tns:countPositionResponse"/>
</operation>
</portType>
<binding name="ShipServicePortBinding" type="tns:ShipService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addShip">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addHarbor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="downloadShipByMmsi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="downloadHarborByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countPosition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ShipService">
<port name="ShipServicePort" binding="tns:ShipServicePortBinding">
<soap:address location="http://localhost:8080/AIS_service/ShipService"/>
</port>
</service>
</definitions>